<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="/main.css">
</head>
<body>

<nav id="navbar">
    <div class="nav-wrapper">
      <a href="home" class="brand-logo" id="logo">POKÉ CENTER</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="home">Home</a></li>
        <li><a href="login">Login</a></li>
        <li><a href="https://www.pokemon.com/us/" target="_blank">Official pokemon website</a></li>
      </ul>
    </div>
  </nav>
<div id="home-content">
  <h3>Hello and welcome to the POKÉ CENTER blog<h3>
</div>
<br>
<div id="news-title">
  <u><h5>Check out the latest pokemon news</h5></u>
</div>
<br>
<div id="news">
  <a href="https://www.pokemon.com/us/pokemon-news/
  2020-play-pokemon-regional-championships-streaming-pokemon-tcg-and-video-game-events/"
  target="_blank">Watch Pokemon Regional Championships Live</a>
  <br><br>
  <a href="https://pokemonmasters-game.com/en-US" target="_blank">Check out pokemon masters</a>
  <br><br>
  <a href="https://www.pokemon.com/us/pokemon-tcg/" target="_blank">Checkout the lastest pokemon tcg</a>  
  <br><br>
  <a href="https://swordshield.pokemon.com/en-us/" target="_blank">Explore pokemon sword and shield</a>
  <br><br>
  <a href="https://www.pokemon.com/us/pokemon-episodes/" target="_blank">Watch pokemon episodes</a>
  <br><br>
  <a href="https://pokemongolive.com/en/" target="_blank">Lets go on a pokemon adventure with PokemonGo</a>
  <br><br><br>
  <big><a href="signup" class="btn waves-effect waves-light">Consider signing up to view other's posts, Here</a></big>
</div>
</body>
</html>