<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Signup</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
<form>
  Email:
  <input type="email" name="email">
  <br>
  First name:
  <input type="text" name="firstname">
  <br>
  Last name:
  <input type="text" name="lastname">
  <br>
  Birthday: 
  <input type="date" name="birthday">
  <br>
  Password:
  <input type="password" name=lpassword">
  <br>
  <input type="submit" value="Submit">
</form> 
</body>
</html>